.submitions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px 3px;
}

.submit-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clean-btn {
  background-color: rgba(69, 69, 69, 0.1);
  color: rgb(20, 197, 20);
  font-size: 16px;
  font-weight: 500;
  padding: 9.5px 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.clean-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.run-btn {
  background-color: rgba(69, 69, 69, 0.1);
  color: rgb(20, 197, 20);
  font-size: 16px;
  font-weight: 500;
  padding: 9.5px 15px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.run-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-box {
  position: relative;
  width: 150px;
  font-family: sans-serif;
  user-select: none;
}

.selected {
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: rgba(92, 92, 92, 0.1);
}

.selected:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Arrow */
.arrow {
  border: 4px solid #0d0d0d;
  border-width: 0 2px 2px 0;
  padding: 4px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}
.arrow.up {
  transform: rotate(-135deg);
}

/* Options box */
.options {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background: white;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 0;
  opacity: 0;
  overflow-y: scroll;
  transition: all 0.3s ease;
  z-index: 100;
}

.options.show {
  max-height: 260px;
  opacity: 1;
  padding-bottom: 6px;
}

.options.sourcing {
  bottom: 60px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}
.search-input:focus {
  background: #fafafa;
}

/* Option */
.option {
  padding: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.2s;
}
.option:hover {
  background: #f0f0f0;
}

/* No option text */
.no-option {
  padding: 12px;
  font-size: 14px;
  color: #888;
  text-align: center;
}

.options1 {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background: white;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 0;
  opacity: 0;
  overflow-y: scroll;
  transition: all 0.5s ease;
  z-index: 100;
}

.options1.show {
  max-height: 260px;
  opacity: 1;
  padding-bottom: 6px;
}
