.signin {
  width: 300px !important;
}

.but-btns {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #1976d2;
}

.loadingEffect {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: 0px;
  left: 0px;
  background-color: rgba(128, 128, 128, 0.329);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.loadingEffect.active{
  transform: scale(1);
}

.loadingEffect p {
  font-size: 40px;
  font-weight: 600;
  font-family: "Cascadia Code", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #333;
}

.loadingEffect p span {
  animation: loaded 0.8s alternate infinite ease-in-out;
  display: inline-block;
}

.loadingEffect p span:nth-child(1) { animation-delay: 0s; }
.loadingEffect p span:nth-child(2) { animation-delay: 0.1s; }
.loadingEffect p span:nth-child(3) { animation-delay: 0.2s; }
.loadingEffect p span:nth-child(4) { animation-delay: 0.3s; }
.loadingEffect p span:nth-child(5) { animation-delay: 0.4s; }
.loadingEffect p span:nth-child(6) { animation-delay: 0.5s; }
.loadingEffect p span:nth-child(7) { animation-delay: 0.6s; }

@keyframes loaded {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-8px);
  }
}
