.navbar {
  position: sticky;
  width: 100%;
  top: 0px;
  background-color: rgba(252, 250, 250, 0.851);
  backdrop-filter: blur(4px);
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.475);
  z-index: 99;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  position: relative;
}

.modal {
  width: 240px;
  top: 60px;
  right: 0px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgb(224, 223, 223);
  border-radius: 5px;
  padding: 20px 10px;
  transform: scale(0);
  transition: all 0.3s ease;
}

.modal.active {
  transform: scale(1);
}

.modal .xmark {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  top: 5px;
  cursor: pointer;
  right: 5px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 3px 1px rgba(128, 128, 128, 0.43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profil-status {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.status-img {
  width: 40px;
  height: 40px;
}

.status-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.list-profil {
  display: block;
  padding: 10px 8px;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.list-profil:hover {
  background-color: rgb(230, 230, 230);
}

.list-profil svg {
  font-size: 20px;
}

.modal a {
  text-decoration: none;
}

.modal span:last-of-type {
  margin-bottom: 0px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
  border: 0.5px solid black;
}

.logo p {
  background-color: #007aff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 20px;
  letter-spacing: 1.6px;
  line-height: 25px;
  font-weight: 500;
  color: black;
}

.logo h1 span {
  display: block;
  font-size: 7px;
  font-weight: 400;
  color: gray;
  letter-spacing: 0px;
  line-height: 15px;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar .links a {
  font-size: 20px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.navbar .links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
}

.links a.active::after {
  width: 100%;
  height: 2px;
}

.navbar .links a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0px;
  width: 0px;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
}

.links a.active::before {
  width: 100%;
  height: 2px;
}

.navbar .icons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}

.navbar .icons .userIcon {
  width: 45px;
  height: 45px;
  padding: 1px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.userIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.coins {
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.426);
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px;
}

.coins .coins-count {
  text-align: center;
  background-color: rgb(221, 220, 220);
  border-radius: 4px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.coins .coin_svg {
  background-color: rgb(255, 191, 0);
  padding: 6px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.btnssubmitions {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1976d2;
  opacity: 1;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
}

.btnssubmitions:hover {
  opacity: 0.9;
}

.btnssubmitions:nth-child(2) {
  background-color: green;
}
