.profil-me {
  min-height: 110vh;
}

.avatar-lines {
  background-color: #222;
}

.avatar-lines .container {
  padding: 70px 0px;
  padding-left: 130px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.avatar-box {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 10px 3px rgba(138, 138, 138, 0.1);
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.avatar-edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.avatar-edit-overlay:hover {
  opacity: 1;
}

.camera-icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.users-infos h2 {
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

.users-infos p {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.873);
}

.profil-information .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.external-info {
  width: 800px !important;
  height: 500px;
  overflow-y: scroll;
  position: absolute;
  top: -50px;
  right: 0px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  width: 320px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.basic-informtion {
  width: 350px;
  padding-top: 20px;
}

.basic-informtion li {
  padding: 15px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.basic-informtion li:hover {
  background-color: #dedede;
}

.basic-informtion li.active {
  background-color: #dedede;
}

.basic_info-bases.active {
  display: none;
}

.edit_info-bases {
  display: none;
}

.edit_info-bases.active {
  display: block;
}

.basic_info-bases h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.basic_info-bases p {
  width: 100%;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: start;
  justify-content: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.136);
}

.basic_info-bases span {
  display: block;
  width: 200px;
}

.basic_info-bases span:nth-child(2) {
  width: 100%;
  display: block;
}

.basic-info_bio span:nth-child(2) {
  height: 100px;
  overflow-y: scroll;
}

.edit_info-bases h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.edit_info-bases .creates {
  width: 100%;
  padding: 10px 10px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: start;
  justify-content: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.136);
}

.edit_info-bases .creates span:nth-child(1) {
  width: 160px;
  display: block;
}

.edit_info-bases .creates span:nth-child(2) {
  width: 100%;
  display: block;
}

.edit_info-bases .creates textarea {
  width: 100%;
  height: 100px;
  resize: none;
  outline: none;
  border-radius: 5px;
  border: 0.5px solid gray;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.edit_info-bases .creates input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0.5px solid gray;
  font-size: 16px;
  font-weight: 500;
  color: black;
  outline: none;
}

.edit_info-bases .submit_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 20px 0px;
}
